h3 {
  margin: 20px 0;
}

.courses {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  .course {
    width: calc(96% / 4);
    margin-bottom: 2%;
    border: 2px solid var(--secondary);
    padding: 15px;

    &__name {
      font-weight: bold;
      color: var(--primary);
    }
  }
}
